body {
  margin: 0;
  background-color: #34495e;
  background-color: rgb(0, 118, 243);
}
  
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50;
  background-color: rgb(59, 59, 235);
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  font-weight: bolder;
}

@media screen and (min-width: 770px) {
  .navLeft {
    width: 80%;
    display: flex;
    flex-direction: row;
  }
  
  .navRight {
    width: 20%;
    display: flex;
    justify-content: space-around;
  }

  .linkSaverIcon {
    margin-left: 0.5%;
    width: 3%;
  }
}

@media screen and (max-width: 770px) {
  .navLeft {
    width: 50%;
    display: flex;
    flex-direction: row;
  }
  
  .navRight {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }

  .linkSaverIcon {
    margin-left: 0.5%;
    width: 10%;
  }
}

@media screen and (max-width: 400px) {
  .linkSaverIcon {
    margin-left: 0.5%;
    width: 15%;
  }
}

.notDraggable {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.titleFont {
  color: #ffff;
  font-family: "Ubuntu", sans-serif;
  margin-left: 1%;
  display: inline-block;
  white-space: nowrap;
}

.standardFont {
  color: #ffff;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  font-weight: 500;
}

.container {
  margin: 10% 15% 10% 15%;
  height: auto;
  padding: 1%;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
}

.containerHome {
  margin: 10% 15% 10% 15%;
  height: auto;
  padding: 1%;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

.containerLogin {
  margin: 5% 15% 5% 15%;
  height: auto;
  padding: 1%;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
}

.firstHalf {
  height: 35%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.logInIcon {
  height: 50%;
}

.signUpInput {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #eee;
  transition: .3s border-color;
}

.halfInputLeft {
  margin: 0 1% 0 0;
}

.halfInputRight {
  margin: 0 0 0 1%;
}

.signUpInput:hover {
  border: 1px solid rgb(0, 118, 243);
}

.signUp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUpButton {
  display: inline-flex;
  height: 30px;
  width: 100px;
  margin: 20px 20px 20px 20px;
  border: 1x solid rgb(59, 59, 235);
  border-radius: 10px;
  background-color: rgb(0, 118, 243);
  color: rgb(255, 255, 255);
  font-size: .8em;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.signUpButton a {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 118, 243);
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 770px) {
  .containerLeft {
    width: 50%;
    text-align: center;
  }
  
  .containerRight {
    width: 50%;
    text-align: center;
  }
}

.containerLeft {
  width: 50%;
  text-align: center;
}

.containerRight {
  width: 50%;
  text-align: center;
}

.container .containerReferenzen h1 {
  color: black;
}

.secondHalf {
  height: 35%;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  margin: 40px;
  position: relative;
  max-width: 250px;
  max-height: 350px;
  box-shadow: 0 40px 60px -6px black;
  border-radius: 3%;
  order: 4;
}

.cardHome {
  margin: 40px;
  position: relative;
  max-width: 250px;
  max-height: 350px;
  margin-top: 0;
  box-shadow: 0 40px 60px -6px black;
  border-radius: 3%;
  order: 4;
}

.card-title {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #6184a8;
  padding: 2%;
  margin-top: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  overflow-y: scroll;
  transition: 0.1s ease;
}

.card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  display: block;
  position: relative;
}

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid rgb(0, 118, 243);
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.copyTextStyling {
  color: rgb(59, 59, 235);
  text-decoration: none;
}

.copyButton {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.copyButton a {
  position: relative;
  transition: all .35s ease-Out;
}

.slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: rgb(0, 118, 243);
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

.copyButton:hover .slide {
  left: 0;
}

.copyButton:hover a {
  color: #ffffff;
}

.card-desc {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: white;
  overflow-y: scroll;
  transition: 0.8s ease;
}

.card:hover .card-desc {
  opacity: 1;
  height: 80%;
}

.card:hover .card-title {
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 770px) {
  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgb(59, 59, 235);
    color: white;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    justify-items: center;
  }
  .footer2 {
    position: fixed;
  }

  .footerMiddle {
    margin: 16px 0 16px 0;
  }

  .leftLink {
    margin-right: 2%;
    display: inline-block;
  }
  
  .rightLink {
    margin-left: 2%;
    display: inline-block;
  }
}

@media screen and (min-width: 770px) {
  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgb(59, 59, 235);
    color: white;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
  }

  .footer2 {
    position: fixed;
  }
  
  .footerLeft {
    grid-area: 1 / 1 / 6 / 2;
  }
  
  .footerMiddle {
    grid-area: 1 / 3 / 6 / 4;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .footerRight {
    grid-area: 1 / 5 / 6 / 6;
    white-space: nowrap;
  }
  
  .leftLink {
    margin-right: 5%;
    display: inline-block;
  }
  
  .rightLink {
    margin-left: 5%;
    display: inline-block;
  }
  
  .linkedinIcon {
    height: 40%;
    color: white;
    display: inline-block;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  font-weight: bolder;
}